node_modules/

# build folders
dist/
sdk/scripts/

# test configs
jest.*.js

# Readmes
**/*.md

# sample apps
examples/apps/html-sample/
examples/apps/auth-sample/


# put module specific ignore paths here