node_modules/
dist/
.idea/
.DS_Store
.vscode
.parcel-cache

.env
.env.local


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.yalc
yalc.lock

docs/

# Test and Playwright related artifacts
/examples/apps/auth-sample/test-results/
/examples/apps/auth-sample/playwright-report/
/examples/apps/auth-sample/blob-report/
/examples/apps/auth-sample/playwright/.cache/
/examples/apps/auth-sample/playwright/.auth/
.claude/